!!!5
html
  head
    - if( typeof tweets != 'undefined')
      title TweetCloud | @#{ screenName }
    - else
      title TweetCloud
    link(rel='stylesheet', href='/stylesheets/vendor/animate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/vendor/require.js")
    script
      require(['/javascripts/main.js']);
    - if( typeof tweets != 'undefined')
      script
        tweetData = {
          tweets: !{JSON.stringify(tweets)},
          screenName: "!{screenName}"
        }
  body
    div.container#settings!= body

    footer
      a.link(href="#what") What is this for?
      a.link(href="#like") Like it?
      a.link.me(href="http://mnmly.com", target="_blank") :D
      div#what
        span.cancel
          a.link(href="#") ×
        a.font-plus(href="http://pr.fontplus.jp/index.html?linkid=entrypage1641075660")
          img(src="http://pr.fontplus.jp/banner/fontplus_wfda2011.png", width="219", height="24", alt="ウェブフォントデザインアワード2011")

      ul#like
        li.cancel
          a.link(href="#") ×
        li
          .fb-like(data-href="http://tagcloud.mnmly.com", data-send="false", data-width="100", data-show-faces="false")
        li
          a.twitter-share-button(href="https://twitter.com/share", class=, data-via="mnmly") Tweet

      #fb-root

      script
        (function (window, document) {
            var loader = function () {
                var script = document.createElement("script"), tag = document.getElementsByTagName("script")[0];
                script.src = "http://pr.fontplus.jp/2011/js/awd2011.js";
                tag.parentNode.insertBefore(script, tag);
            };
            // Wait until window.onload before downloading any more code.
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=102714976498383";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12966761-8']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

